nav{
    background-color: rgba(148, 147, 147, 0.514);
    height: inherit;
}
nav ul {
    list-style-type: none;
    height: 50px;
    text-align: inherit;
font-size: 25px;
  }

  .li1{
    float: left;
    display: block;
    padding-left: 0;
    
    font-family: 'Pacifico';font-size: 22px;


  }
  
  li a {
    float: left;
    display: block;
    padding-left: 50px;
padding-bottom: 20px;
    text-decoration: none;

  }
  
article{
    margin: 50px;
padding-top:50px;

padding-bottom: 20px;
text-align:left;

}
form li{list-style-type: none;
    margin: 0;
    padding: 25px;
    padding-left: 2%;

    overflow: hidden;
    
float: left;
    text-align:left;



}

footer {
    background: #373737;
color: white;
margin-top: 100px;

}
pre , h3{
  text-align:center; 

  font-size: 15px;
}

.div11{
text-align: center;

}
fieldset {
    background-color: #eeeeee;
    margin-top: 40px;
  }
  
  label{

    color: #795548;
    font-size: 20px;


  }
  legend {
  
   
    padding: 5px 10px;
  }
  
  input {
    margin: 5px;
    
  }
  .inputs{

    background-color: #faefeb;

  }
  legend{

    font-family: Verdana;
    font-size: 25px;
   background-color: #795548;
  color: white;
  }
  .button{

    width: 120px;
    height: 30px;
    background-color: #795548;
    color: white;
    cursor: pointer;
  }

  th {
    background-color: #795548;
    color: white;
  }
  tr:nth-child(even){background-color: #faefeb;}
nav a{
 
  color:#795548 ;

}
a:active {
  background-color: rgb(199, 195, 195);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 
}

.ol1 {
  font-family: 'Festive', cursive;
  font-size: 22px;
  
  width: 15%; 
 margin-left: 0px;
 color: rgb(83, 83, 83);
 border-radius: 15px;
 margin-top:50px;
padding: 10px;

 
}
.dov label{
 
  height: 90px;
  text-align: left;
  padding-top: 10px;
  font-size: 30px;
  color: black;
}

h2{
  background-color: lightslategray;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
  color: white;
}
.div2 ul li {
  font-size: 25px;

  list-style-type: none;
    padding: 10px;
    margin-left:2px ;
    padding-left: 2%;    
float: left;
    text-align:left;
    background-color: lightcoral;
   margin-bottom: 80px;
}

.image2{
float:left;
  text-align: right;
  margin-bottom: 50px;
  margin-top: -170px;
  
}

button{
width: 150px;
height: 50px;
background-color:lightcoral ;
color:white;
margin-left: 320px;
border-radius: 20px;
}
 .dov{

margin-bottom:44px;
margin-left: 50px;
 }
 .div7{
   margin-right: 650px;
float:right;
font-size: 30px;

 }
 .div7 label{
  color: #a85672;
  font-size: 56px;
  font-weight: bold;
  font-style: italic;
  line-height: 45px;
 }